@charset "utf-8";
@import url(http://allfont.net/allfont.css?fonts=comic-sans-ms);
@font-face {
    font-family: 'Comic Sans MS', arial;
    src: url(http://allfont.net/allfont.css?fonts=comic-sans-ms);
}

@import url(http://allfont.net/allfont.css?fonts=manga-temple);
@font-face {
    font-family: 'Manga Temple', arial;
    src: url(http://allfont.net/allfont.css?fonts=manga-temple);
}

/*
    M02 Project V1 - Basic HTML and CSS

    Style Sheet
    Author: Taryn Oliver
    Date: 5/9/2020

    Filename: style.css
*/

/* PAGE FORMAT */

/* M2LO3 Demonstrate style precedence and inheritance in CSS
Inheritance is applied here. The font is passed down to all of the text in it's children.*/

/*M4LO2 Demonstrate the use of background images (CSS)
 i added my background picture to this section of code       
*/
body {
    font-family: 'Comic Sans MS', arial;
    margin: 0px;
    background-color: lightpink;
    background-color: hsl(351, 69%, 78%);
    background-image: url(pinkie_pie_apple_pie_recipe_02.jpg);
    
}



/* M2LO14 Demonstrate and explain the use of progressive enhancement in CSS
I have used progressive enhancement in the style below, as well as in several other styles. This technique is when you place styles from oldest to newest standards. Older browsers my not except HSL or HSLA but will most likely accept regular color input*/
body > header {
    padding: 3px;
    background-color: darkmagenta;
    background-color: hsl(300, 100%, 27%);
}

article {
    padding: 30px;
}

/* M2LO6 Demonstrate a CSS id and a CSS class selector
This is an id selector. It modifies the img element with the 'homeimg' id. */

/*M4LO3 Demonstrate the use of rounded corners for borders (CSS)
  i rounded the corners on the pictures    */

img#Breakfastimg {

  border-radius: 25px;
  padding: 20px;
  width: 45%;
  height: 45%;
}

img#Lunchimg {
  border-radius: 25px;
  padding: 20px;
  width: 45%;
  height: 45%;
}

img#Dinnerimg {
  border-radius: 25px;
  padding: 20px;
  width: 45%;
  height: 45%;
}

img#Dessertimg {
  border-radius: 25px;
  padding: 20px;
  width: 45%;
  height: 45%;
}


/* M2LO5 Demonstrate contextual selectors
This is a parent > child contextual selector I made that would effect the padding only in articles that are the child of sections that are childs of the body. */
body > section > article {
    padding-top: 10px;
}

/* M2LO11 Demonstrate a pseudo-classes and a pseudo-element selector
This is a pseudo-class selector. It applies only to the last section that is a child of the body. */
body > section:last-of-type {
    text-align: center;
    padding: 10px;
}

body > section img {
    padding: 10px;
    padding-left: 30px;
}

a#last {
    padding: 0px;
}

/* NAVIGATION */

/* M2LO12 Demonstrate how CSS can change presentation of page elements
Below is the style for the navigation menu. padding (top/bottom) with text align made the nav bar look a bit more polished */
/*M4LO4 Demonstrate the use of gradients (CSS)
i added it to the end of the nav css section using hexadecimal values*/
nav {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: purple;
    background-color: hsl(271, 100%, 50%);
    background-image: repeating-linear-gradient(#FF0099, #493240);
}

/* M2LO6 Demonstrate a CSS id and a CSS class selector
This is a class selector. It modifies li elements that have the class 'nav'. */
li.nav {
    display: inline;
    padding-right: 7%;
}

/* M2LO13 Demonstrate how CSS can change presentation of textual elements
Below is the style that formats the links within the navigation bar. I have changed the font of the text, as well as colored it and removed the underline. */
body > header > nav ul li a {
    font-family: 'Manga Temple', arial;
    text-decoration: none;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    vertical-align: middle;
    color: white;
    background-color: rgb(60, 140, 215);
    background-color: hsl(209, 66%, 54%);
}

/* M2LO15 Apply colors using CSS
Below is a style where I have applied colors. I have changed the text color for the links on the navigation bar for when you hover over them. Hovering also causes their background color to change. */
body > header > nav ul li a:hover {
    color: rgb(248, 235, 216);
    color: hsl(35, 69%, 91%);
    background-color: rgb(46, 107, 163);
    background-color: hsl(209, 56%, 41%);
}

/* TEXT FORMAT */

p {
    text-indent: 2em;
    padding-bottom: 1em;
}

article p {
    color: rgb(46, 107, 163);
    color: hsl(209, 56%, 41%);
}

p.cite {
    text-align: left;
    padding: 0px;
    color: hsl(37, 22%, 62%);
}

/* M2LO11 Demonstrate a pseudo-classes and a pseudo-element selector
This is a pseudo-element selector. It applies to the first letter within every h1 descendant of an article, that is a child of a section, that is a child of the body. It makes the first letter large. */
body > section > article h1::first-letter, body > article h1::first-letter {
    font-size: 2em;
}

/* M2LO5 Demonstrate contextual selectors
This is a parent descendant contextual selector I made that will effect the font and font size of any h1 that is a descendant of an article, that is a child of a section, that is the child of the body.  */
body > section > article h1, body > article h1 {
    /* M2LO3 Demonstrate style precedence and inheritance in CSS
    The Montserrat Regular font was applied to the body. But since this is a more specific style rule, the Bad Script font takes precedence. */
    font-family: BadScript, sans-serif;
    font-size: 2em;
    color: rgb(46, 107, 163);
    color: hsl(209, 56%, 41%);
}

/* M2LO7 Demonstrate a CSS attribute selector other than class or id
This only effects the p element that has a style attribute. */
p[style] {
    text-indent: 0em;
    text-decoration: underline;
}

/* ORDERED LISTS */

ol.about {
    list-style-type: circle;
    color: rgb(46, 107, 163);
    color: hsl(209, 56%, 41%);
}

ol li {
    padding-bottom: 20px;
}